<h3>タスク新規登録</h3>

<%= form_with(model: @task, local: true) do |form| %>

  <div class="title_field">
    <%= form.label :title, "タスク名" %>
    <%= form.text_field :title %>
  </div>

  <div class="title_field">
    <%= form.label :content, "タスク詳細" %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit "登録する" %>
  </div>

<% end %>