<h3>タスク詳細</h3>

<p>
  <strong>タスク名</strong>
  <%= @task.title %>
</p>

<p>
  <strong>タスク詳細</strong>
  <%= @task.content %>
</p>

<p>
  <strong>終了期限</strong>
  <%= @task.expired_at %>
</p>

<p>
  <strong>ステータス</strong>
  <%= @task.status %>
</p>

<p>
  <strong>優先度</strong>
  <%= @task.priority %>
</p>

<p>
  <strong>ラベル</strong>
  <% @task.labels.each do |label| %>
    <h3 class="label label-info"><%= label.label_name %></h3>
  <% end %>
</p>

<p>
  <strong>ユーザー</strong>
  <%= @task.user.name %>
</p>

<%= link_to '戻る', tasks_path %>

